<div class="split-screen">
  
  <!-- le—ft navy blue-->
  <div class="navy-half">
    <h2 class="section-title italic-style">Judge These Safely By Their Covers</h2>
    
    <!-- new books -->
    <app-new-books [featuredBooks]="cartService.inventory()" (orderTrigger)="cartService.openDetails($event)" />

    <!-- best sellers -->
    <div class="shelf-label">HIGHLY JUDGE</div>
    <div class="grid-shelf">
      @for (b of topSellers(); track b.id) {
        <div class="cover-card p-pink" (click)="cartService.openDetails(b)">
          <p class="title">{{ b.title }}</p>
          <small class="counter-lbl">{{ b.salesCount }} sold</small>
        </div>
      }
    </div>

    <!-- most read -->
    <div class="shelf-label">SHELF BURNERS</div>
    <div class="grid-shelf">
      @for (b of mostRead(); track b.id) {
        <div class="cover-card p-purple" (click)="cartService.openDetails(b)">
          <p class="title">{{ b.title }}</p>
          <small class="counter-lbl">{{ b.readCount }} reads</small>
        </div>
      }
    </div>
  </div>

  <!-- calculations-->
  <div class="yellow-half">
    <div class="cart-box">
      <h3>🛒 Selected Items</h3>
      <hr>
      
      <div class="cart-items">
        @for (item of cartService.cart(); track item.id + item.format) {
          <div class="cart-row">
            <div>
              <strong>{{ item.title }}</strong>
              <br>
              <small>Format: {{ item.format }} | Price: ₱{{ item.price }}</small>
              <div class="qty-adjuster-controls">
                <button class="qty-btn" (click)="cartService.updateQuantity(item.id, item.format, -1)">-</button>
                <span class="qty-count">{{ item.quantity }}</span>
                <button class="qty-btn" (click)="cartService.updateQuantity(item.id, item.format, 1)">+</button>
              </div>
            </div>
            <button class="del-btn" (click)="cartService.removeFromCart(item.id, item.format)">Remove</button>
          </div>
        } @empty {
          <p>Your shopping order cart is empty.</p>
        }
      </div>

      <div class="calculation-summary">
        <p>Order Subtotal: <strong>₱{{ cartService.totalPrice() }}</strong></p>
        <p>Delivery Fees: <strong style="color: green;">FREE</strong></p>
        <hr>
        <h4>Total Calculation: ₱{{ cartService.totalPrice() }}</h4>
        <button class="checkout-action-btn" [disabled]="cartService.cart().length === 0" (click)="cartService.clearCart()">
          PLACE ORDER / CLEAR
        </button>
      </div>
    </div>
  </div>
</div>
